<div class="container my-3 mx-3" >
<h1 style="text-align: center;">{{title}}</h1>
<hr>
<hr>
<div class="container ">
 
<!-- Interpolation Example -->
 <h1>{{title0}}</h1>  
 <p>This Comes From <u style="color: blue;"> {{tsfile}} </u></p>
 <hr>
 
 <!-- Functions In Angular -->
<h1>{{title00}}</h1>
<button class="btn btn-warning" (click)="getName('hammad momin')">Click Me</button>
<button class="mx-2 btn btn-warning" (click)="get2Names('Hello' , 'I am Learning Angular')">Click Me</button>
<hr>

<!-- Events | Blur | Keyup, | Mouseover etc -->

<h1>{{title000}}</h1>
<button class="btn btn-dark" (click) = "getData('')" >Call Function</button>


<h3 class="my-3">Keyup</h3>

<input class="border border-success" type="text" #box (keyup)="getData1(box.value)" 
    placeholder="Event Keyup">

<h3 class="my-3">Keydown</h3>
<input type="text" #box1 (keydown)="getData1(box1.value)" placeholder="Event keydown">

<h3 class="my-3">Blur</h3>
<input type="text" #box3 (blur)="getData1(box3.value)" placeholder="Event blur">
<hr>
<h3 class="my-3" (mouseover)="getData1('mouseover hitted')"> Mouseover this text</h3>
<h3 (mouseleave)="getData1('mouseleave hitted')"> Mouseleave this text</h3>
<hr>

<!-- counter implementation -->
<h1 class="my-3">Counter</h1>
<button (click)="counter('minus')"class="my-3 btn btn-danger" >--</button>
<p>Count : {{count}}</p>
<button (click)="counter('add')" class="btn btn-success">++</button>
<br>
 <button (click)="Resetcount()" class="my-3 btn btn-primary"> Reset</button>
</div>
<hr>

<!-- Property Binding  -->
<h1>{{title02}}</h1>
<input type="text" name="user-name" disabled={{disable}} value={{name}}>
<input class="mx-3" type="text" name="user-name" [disabled]=disable>

<hr>

 <!-- If-else implementation -->

 <h1>{{title2}}</h1>

 <p *ngIf="show=='yes' ; then ifblock else elseblock"  >
  Code Step by step
 </p>


 <ng-template #ifblock>
  <p>this is If condition</p>
 </ng-template>
 <ng-template #elseblock>
  <p>this is else condition</p>
 </ng-template>

 <hr>

 <!-- multiple condition or else if  -->

 <h1>{{title3}}</h1>

 <ng-template [ngIf]="color==='violet'">
  <h3 style="color: blueviolet;">This Is Violet Coloured Text</h3>
 </ng-template>

 <ng-template [ngIf]="color==='green'">
  <h3 style="color: green;">This Is Green Coloured Text</h3>
 </ng-template>

 <ng-template [ngIf]="color==='blue'">
  <h3 style="color: blue;">This Is Blue Coloured Text</h3>
 </ng-template>

 <hr>

 <!-- For many else-if block use switch case -->
 <h1>{{title4}}</h1>
 <div [ngSwitch]="color2" >
  <h3 *ngSwitchCase="'red'" style="color: red;"> Red Text</h3>
  <h3 *ngSwitchCase="'yellow'" style="color: yellow;"> Yellow Text</h3>
  <h3 *ngSwitchCase="'green'" style="color: green;"> Green Text</h3>
  <h3 *ngSwitchCase="'blue'" style="color: blue;"> Blue Text</h3>
  <h3 *ngSwitchCase="'orange'" style="color: orange;"> Orange Text</h3>
  <h3 *ngSwitchDefault> Unknown Color Text </h3>
 </div>

 <hr>
 <!-- For Loop *ngFor -->

 <h1>{{title5}}</h1>
 <h3 *ngFor="let item of user"> Name is : {{item}} </h3>
 <h3 *ngFor="let item of userDetails"> {{item.email}} -- {{item.phoneno}} </h3>
<hr>

<!-- Nested Loop -->

<h1>{{title6}}</h1>
<ul *ngFor="let data of users">
    <li> Name : {{data.name}}</li>
    <li> Phone Number : {{data.phone}}</li>
    <li>Social Media Accounts </li>
    <ul *ngFor="let account of data.socialAccounts">
    <li>{{account}}</li>
    </ul>
</ul>
<hr>

<!-- Style Binding | Dynamic Style -->

<h1>{{title7}}</h1>

<h3 class="my-3" [style.color] = "colorstyle" [style.backgroundColor]="bgcolor" >{{text}}</h3>
<h3 class="my-3" [style.color] = "colorstyle" [style.backgroundColor]="bgcolor" >Sample Text (HTML File)</h3>
<button class=" btn btn-primary" (click) = "updateColor()"> Update Color</button>
<button class="mx-3 my-2 btn btn-dark" (click) = "resetColor()"> Reset Color</button>
<hr>

<!-- Headers in Angular  -->

<h1>{{title8}}</h1>

<app-header></app-header>
<app-header></app-header>
 



<h1>{{title9}}</h1>
<h3 class="my-3" >Form </h3>

<form #basicform = 'ngForm' (ngSubmit)="getformData(basicform.value)">
<input  type="text" ngModel name="username" placeholder="Username"><br>
<input class = "my-3" type="text" ngModel name="email" placeholder="Email"><br>
<input type="password" ngModel name="password" placeholder="Password"><br>
<button class = "my-3 btn btn-info"> Register </button>
</form>

<ul>
    <li>{{formdata.username}}</li>
    <li>{{formdata.email}}</li>
    <li>{{formdata.password}}</li>
</ul>

<hr>

<!-- Toggle Element | Hide and Show Tag -->
<h1>{{title10}}</h1>
<button class="btn btn-danger my-3" (click)="toggle()"> Toggle</button>
<h3 *ngIf="displaydata">
Toggle Text
</h3>
<hr>

<!-- Angular Bootstrap -->

<h1>{{title11}}</h1>
<p class="my-3">
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>
<hr>

<h1 class = "my-3">{{title12}}</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br>
<mat-slider>
    <input matSliderThumb>
  </mat-slider>
  
<hr>


<!-- To-do list In Angular -->

<h1>{{title13}}</h1>

<input type="text" #todo placeholder="Enter New To-do"> 

<button class="btn btn-success mx-3 my-3" (click)="addTodo(todo.value)" >Add To-do</button>

<ul *ngFor="let item of list">
    <li>{{item.name}} <button class=" mx-3 m btn btn-danger"(click)="removeTodo(item.id)" >Remove</button> </li>
</ul>
<hr>

<!-- Send Data From Parent To Child Component -->

<h1>{{title14}}</h1>
<app-child [item]="data" ></app-child>
<button class="btn btn-info" (click)="updateChild()" >Update Child Component</button> 
<button class="btn btn-warning mx-3" (click)="resetChild()" >Reset Child Component</button>
<hr>

<!-- Reusable Component -->
<h1>{{title15}}</h1> 

<ul *ngFor="let user of userDetails1">
    <app-child [item1]='user' ></app-child>
</ul>
<hr>

<!-- Send data From Child To Parent  -->

<h1>{{title16}}</h1>
<h3>{{data1}}</h3>
<app-child2 (updateEventData)="updateData($event)"></app-child2>
<hr>

<!-- Two Way Binding -->

<h1>{{title17}}</h1>

<input type="text" placeholder="2 Way Binding" [(ngModel)] = "namebinding">
<h3 class="my-3" >{{namebinding}}</h3>

<hr>


<!-- Template Reference Variable -->

<h1>{{title18}}</h1>

<input type="text" #box placeholder="Enter your username" name="username">
<button class="mx-3 btn btn-success" (click)="callFunc(box)">Call Function</button>

<hr>

<!-- Basic Pipes  -->

<h1>{{title19}}</h1>
<h3 class="my-3" >{{text1 | uppercase }}</h3>
<h3>{{capText(text1)}}</h3>

<hr>

<!-- Advance Pipes In Angular  -->

<h1>{{title20}}</h1>
<h3 class="my-3" >{{text2}}</h3> 
<h3 class="my-3" >{{text2 | slice : 1 : 10 | uppercase}}</h3> 

<h3 class="my-3"> {{user2 | json}}</h3>
<h3 class="my-3"> {{2.30 | number : '3.3-5' }}</h3>
<h3 class="my-3">{{ 20 | currency : 'USD'}}</h3>
<h3 class="my-3">{{ 20 | currency : 'INR'}}</h3>
<h3 class="my-3">{{'hello how are you ' | titlecase }}</h3>
<hr>


<!-- Make Custom Pipes  -->

<h1>{{title21}}</h1>
<h3 class="my-3">{{20 | convertUsdInr : 82.52}} {{" => Converting INR To USD"}}</h3>


<hr>

<!-- Angular Forms Introduction  -->

<h1 class="my-2">{{title22}} </h1><br>
<h4 class="my-2">Basically there are two types of from </h4>
<h4 class="my-2">1 => Template-Driven Form (All the Validation and processes done in component.html file) </h4>
<h4 class="my-2">2 => Reactive-Form (All the Validation and processes done in component.ts file)</h4>
<h4 class="my-2">Template => Class => Service => Database</h4>

<hr>


<!-- Template-Driven Form -->

<h1>{{title23}}</h1>

<form #loginForm = "ngForm" (ngSubmit)="userLogin(loginForm.value)">
    <input class="my-3" type="text" placeholder="Enter Name" ngModel name="name"><br>
    <input type="password" placeholder="Enter Password" ngModel name="password"><br>
    <button class="btn btn-primary my-3">Login</button>
</form>

<button (click)="userLogin(loginForm.value)" class="btn btn-warning ">Outside Form Tag </button>
<hr>
<!-- Template-Driven Form Validation -->

<h1>{{title24}}</h1>

<form #loginForm1 = "ngForm" (ngSubmit)="userLogin(loginForm1.value)">

    <input class="my-3" type="text" required #email="ngModel" placeholder="Enter Email" email ngModel name="name">
    <small *ngIf="email.invalid && email.touched" class="error mx-2">*Email Field is Invalid</small>
<br>
    <input pattern="[a-zA-Z 0-9]*" minlength="3" maxlength="12" type="password" required #password="ngModel" placeholder="Enter Password" ngModel name="password">
    <small *ngIf="password.invalid && password.touched" class="error mx-2">*Password Field is Invalid</small><br>
    <button [disabled]="loginForm1.invalid" type="submit" class="btn btn-primary my-3">Login</button>
</form>

<hr>

<!-- Reactive Forms In Angular  -->

<h1>{{title25}}</h1>
<!-- for this form i make another component named as app-reactive-form and then i called the respective selector below to display the form -->
<app-reactive-form></app-reactive-form>

<!-- Directives | Making Custom Directives -->
<!-- ng g d Directives/red-Element (in terminal)-->

<h1>{{title26}}</h1>
<h3 class="my-3" appRedElement >{{"This Is Sample Text to Test Custom Directive"}}</h3>
<h3 appRedElement >{{''}}</h3>
<hr>

<!-- Basic Routing -->
<h1>{{title27}}</h1>
<div class="container10">
    <a routerLink="home">Home</a><br>
    <!-- Wild Card | 404 page routing -->
    <a routerLink="user">Users</a><br>
    <a routerLink="about">About Us</a><br>
    <a routerLink="contact">Contact Us</a><br>

    <br>
    <!-- Dynamic Routing -->
    <a routerLink="user/10">hammad</a><br>
    <a routerLink="user/20">anas</a><br>
    <a routerLink="user/30">raiyan</a><br>
    <a routerLink="user/40">arshad</a>
</div>
<br>
<router-outlet >

</router-outlet>
<hr>

<!-- Service in Angular -->

<h1>{{title29}}</h1>
<ul>
    <li *ngFor="let user of userss">
        {{user.name}} : {{user.age}}
    </li>
</ul>

<app-footer></app-footer>
<hr>

<!-- GET API Call from Json-server -->
<h1>{{title30}}</h1>
<h3>Below Data Are From API</h3>
<ul>
    <li *ngFor="let user of allusers ">
       {{user.name}} -- {{user.email}}

    </li>
</ul>

<!-- POST API Call To Json-server -->
<h1>{{title31}}</h1>
<app-add-user-post-api></app-add-user-post-api>






</div>